.app {
    height: 100vh;
}

.login-signup-container {
    height: 100vh;
}

.formContainer {
    margin: auto;
    width: 300px;
}

.login-form {
    gap: 10px;
}

.userInfo {
    padding-right: 40px;
    padding-top: 20px;
    gap: 20px;
}

.submit-buttons {
    gap: 15px;
}

.globalError {
    font-size: 0.875em;
    margin-top: 0.25rem;
}

.todolist {
    min-width: 300px;
    max-width: 450px;
    padding: 3rem 0;
    gap: 15px;
}

.todo-form-button {
    margin-left: 10px;
}

.icon {
    fill: #0d6efd;
}

.task {
    border-radius: 0 !important;
}

.title-container {
    margin: auto;
}
